@charset "UTF-8";

$c_main: #f8f8f8;
$c_white: #fff;
$c_sub: #A9B3B4;
$c_blue: #8CB1B9;
$c_subBlue: #8B9B9B;

$padding_small: 10px 10px;
$padding_middle: 20px 15px;
$padding_large: 40px 20px;

$shadow_small: 0px 1px 2px 0px rgba(160, 160, 160, 0.3);

$screen-xs-max: 768px;
$screen-sm-max: 1023px;
